* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Blinker", sans-serif;
}
/* typography */
.title {
  font-size: 2.25rem;
  font-weight: 900;
  color: #05cbe9;
  grid-column: 2 / span 2;
  grid-row: 3;
}
.body-text {
  grid-row: 5;
  grid-column: 2 / span 2;
  color: #fff;
  opacity: 0.8;
}
img {
  height: 100%;
  display: block;
  width: 100%;
  grid-column: 1 / -1;
  object-fit: cover;
  grid-row: 1 / span 1;
}
.footer {
  grid-row: 7;
  grid-column: 2 / span 1;
  opacity: .7;
  color: #fff;
}

p > span {
  display: block;
}
.minute-count {
  font-weight: 900;
  font-size: 1.5rem;
  
 
}
.read-btn {
  background-color: #05cbe9;
  padding: 0.7em 2.4em;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 900;
  align-self: flex-end;
  justify-self: end;
  color: rgb(17, 29, 74);
  grid-row: 7;
  grid-column: 3 / span 1;
}
/* layout */
.grid-wrapper {
  background-color: rgb(17, 29, 74);
  display: grid;
  grid-template: 150px 1em auto 1em auto 3em auto 1em / 1em auto auto 1em;

}

@media (min-width: 600px) {
    .grid-wrapper {
        background-color: rgb(17, 29, 74);
        display: grid;
        grid-template: 2em auto 2em auto 4em auto 2em  / 200px auto auto 0px ;
        gap: 0 1em;
      
      }
   img 
   {
    grid-row: 1 / -1;
    grid-column: 1 / span 2
   }
  
   .title{
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
    max-width: 520px;
   }
   .body-text
   {
    grid-row: 4 / span 1;
    grid-column: 3 / span 1;
    max-width: 520px;
   }
  .footer
  {
    grid-row: 6 / span 1;
    grid-column: 3 / span 1;
    align-self: end;
  }
  .read-btn
  {
    grid-row: 6 / span 1;
    grid-column: 3 / span 1
  }

  }
