body 
{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;

}
nav
{
    background-color: beige;
    height: 30px;
    padding: .5em 0;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: .5em;
}
nav > h3 
{
    margin: 0;
}
#postsWrapper,form
{
    padding: 30px 10px 10px;
}
form > *
{
    border: 0;
}
form{
    margin-top: 2.5em;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    background-color: lightblue;

}
form input

{
    margin-bottom: .5em;
    height: 3em;
}
form textarea
{
   height: 100px;
   margin-left: 1px;
   resize: none;

}
form button
{

    margin: .5em 0;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    font-weight: bolder;
    padding: 1em 2.5em;
    transition: all 300ms;
}
button:hover,
button:focus 
{
    background: black;
    color: #fff;
}